/Diplomka.dotx
/IP/Milan_Polacek_navrh_33DIP.pdf
/IP/navrh_33BAP_33DIP.pdf
/IP/navrh_projektu.doc
/IP/navrh_projektu_polacek.pdf
/IP/polacek zadani dp.docx
*.db
/Zdroje/citace.ris
/Zdroje/clanky/ijbh2014-2.pdf
/Diplomova prace Milan Polacek k Editaci.zip
/Diplomova_prace_Polacek_Milan_2016_05_18.zip
/konečná.pdf
/Diplomova_prace_Polacek_AlbEdit.pdf
/~$plomová práce_prace_Polacek.docx
